nav{
    font-size: 40px;
    color: black;
    text-decoration: none;
    border: 10px groove gray;
    
}
a{
    color: black;
    text-decoration: none;
    gap: 20px;
}
footer{
    margin: 50px;
    background-color: gray;
    height: 20%;
    text-align: center;
}
p{
    text-align: center;
    margin: 80px;
}
h1{
    text-align: center;
}
img{
    height: 40%;
    width: 30%;
    border-radius: 10%;
    
}
h4{
    font-size: 30px;
    text-align: center;
}
p{
    padding-top: 20px;
    font-style: oblique;
    font-size: 30px;
}
main{
    margin: 20px;
    background-color: rosybrown;
    border-radius: 15%;
    padding-bottom: 50px;
}