p{
    font-size: 40px;
}
.div{
    background-color: purple;
    position: sticky;
    top: 0;
    height: 300px;
    width: 300px;
}
.b{
    background-color: red;
    top: 50%;
    left: 43%;
}
.c{
    background-color: royalblue;
    top: 20%;
    left: 93%;
}