p{
    font-size: 40px;
}
.div{
    position: fixed;
    height: 300px;
    width: 2600px;
}
.a{
    top: 0;
    background-color: red;
}
.b{
    top: 30%;
    background-color: goldenrod;
}
.c{
    top: 70%;
    background-color: darkblue;
}