div{
    font-size: 46px; color: purple;
    background-color: brown;
    border: 7px solid yellow;
}
div ol{
    color: green;
    font-size: 36px;
    background-color: red;
    border: 8px solid brown;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}