.a{
    color: rgb(80, 85, 142);
    background-color: rgb(221, 100, 100);
    font-size: 20px;
    border:  solid 2px rgb(213, 64, 201);
    text-align: rgb(102, 186, 191);
}
#a1{
    color: rgb(117, 0, 0);
    background-color: rgb(90, 149, 32);
}
.b{
    color: rgb(219, 19, 19);
    background-color: #239ea0;
    border-right: 1px solid #7b3289;
    text-align: center;
    font-size: 23px;
}
#b1{
    color: rgba(10, 68, 101, 0.353);
    background-color: rgba(121, 24, 106, 0.733);
    border: 1px solid #3ca259;
}
.c{
    color: rgb(143, 248, 225);
    background-color: #891e95;
    border-right: 1px solid #e4ea2f;
    font-size: 41px;
}
.c1{
    color: rgb(206, 29, 165);
    background-color: #65c6a178;
    border-right: 1px solid #981eef;
    font-size: 30px;
}

.d{
    color: rgb(237, 131, 213);
    background-color: #e6fef578;
    border-right: 1px solid #4c375b;
    font-size: 30px;
}
.d1{
    color: rgb(29, 206, 197);
    background-color: #65c6a178;
    border-right: 1px solid #ef1e1e;
    font-size: 30px;
}
.e{
    color: #aaf652;
    background-color: #25287c;
    border: 1px solid #9618a4;
    font-size: 30px;
}
#e1{
    color: #41a436;
    background-color: #589fb5;
    border: 1px solid #192061;
    font-size: 80px;
}
.f{
    color: #1f0a27;
    background-color: #acf4b9;
    border: 1px solid #29142c;
    font-size: 37px;
}
#f1{
    color: #aaf652;
    background-color: #434684;
    border: 1px solid #1852a4;
    font-size: 20px;
}
#f3{
    color: #30322f;
    background-color: #baf878;
    border: 1px solid #5f2f2f;
    font-size: 51px;
}
.g{
    color: #1d2b91;
    background-color: #43ca82;
    border: 1px solid #e470c4;
    font-size: 11px;
}
#g1{
    color: #251535;
    background-color: #146892;
    border: 1px solid #54222b;
    font-size: 71px;
}