body{
    display: flex;
    gap: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
button{
    height: 200px;
    width: 400px;
    font-size: 30px;
    position: relative;
}
#a{
    top: 100px;
    left: 30px;
}
#b{
    top: 30px;
    right:20px
}