a{
    text-decoration: none;
    font-size: large;
    color: black;
}
img{
    height: 400px;
    border-radius: 10%;
    transition: 0.4s ease;
    border: dotted 10px blue;
}
section{
    margin: 50px;
    padding-top: 300px;
    justify-content: center;
    text-align: center;
}
p{
    font-size: 25px;
}
header{
    background-color: goldenrod;
    position: fixed;
    margin-left: 45%;
}
img:hover{
    transform: scale(1.2);
}
ol{
    font-size: larger;
}
*{
    background-color: gold;
}