#this{
    color: green;
}
#is{
    color: gold;
}
#an{
    color: cadetblue;
}
#apple{
    color: papayawhip;
}
#pear{
    color: burlywood;
}

#i1{
    color: red;
}
#i2{
    color: blue;
}
#i3{
    color: purple;
}
