div li{
    color: red;
    border: 3px solid green;
    font-size: 35px;
    background-color: blue;
}
nav li{
    color: brown;
    font-size: 50px;
    border: 3px solid purple;
    background-color: yellow;
}