p{
    font-size: 50px;
    border: 3px solid green;
    color: yellow;
    text-align: center;

}
button{
    height: 50px;
    width: 100px;
    background-color: red;
    color: yellow;
    border: none;
}