div{
    display: flex;
    margin: 8%;
    width: 70%;
}

img{
    margin: 100px;
    height: 600px;
    width: 600px;
}
p{

    margin-top: 200px;
    font-size: 25px;
}
nav{
    text-align: center;
    margin: 2%;
    font-size: 50px;
    background-color: rgb(241, 122, 70);
}
a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: rgb(91, 91, 91);
}