header{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    height: 10%;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 60px;
    background-color: rgb(255, 215, 156);
    border-radius: 20px;
}
img{
    height: 500px;
    margin-left: 100px;
    border: 10px solid #ffca6f;
}
main{
    margin: 10%;
    
}
h1{
    text-align: center;
    margin-top: -150px;
    font-size: 80px;
}
p{
    font-size: 20px;
}
html{
    background-color: #fddec5;
}