p{
    font-size: 60px;
}
#d1{
    background-color: firebrick;
    height: 300px;
    width: 600px;
    position: sticky;
    top: 40%;
}
#d2{
    background-color: darkblue;
    height: 400px;
    width: 500px;
    position: sticky;
    top: 40px;
    bottom: 65px;
}