
.a{
    color: blue;
    size: 15px;
    background-color: red;
    border: 4px solid green;
}
.b {
    color: green;
    background-color: yellow;
    size: 45px;
    text-align: center;
    border: 7px solid purple;
}
.c{
    color: orange;
    size: 14px;
    text-align: left;
    border: 2px solid pink;
}
#in h1{
    color: red;
    background-color: white;
    text-align: right;
    border: 4px dotted indianred;
    size: 40px;
}
#a1{
    color: red;
}
#a2{
    color: seashell;
}
#a3{
    color: aquamarine;
}
#a4{
    color: violet;
}
#a5{
    color: fuchsia;
}
#a6{
    color: steelblue;
}
.header{
    color: blueviolet;
    size: 80px;
    border: 2px dotted blue;
}
#b1{
    color: brown;
    background-color: coral;
}
#b2{
    color: brown;
    background-color: coral;
}
#b3{
    color: brown;
    background-color: coral;
}
#b4{
    color: brown;
    background-color: coral;
}
#b5{
    color: brown;
    background-color: coral;
}
#b6{
    color: brown;
    background-color: coral;
}
#b7{
    color: brown;
    background-color: coral;
}
#b8{
    color: brown;
    background-color: coral;
}
#b9{
    color: brown;
    background-color: coral;
}
#b10{
    color: brown;
    background-color: coral;
}
#c1{
    color: darkslateblue;
    border: 2px  solid snow;
    font-size: 200px;
    background-color: firebrick;
}
#c2{
    color: slategrey;
    border: 12px  solid violet;
    font-size: 100px;
    background-color: burlywood;
}
.d{
    font-size: 30px;
    color: pink;
    background-color: blue;
    text-align: center;
    border: green 4px solid;

}
div button{
    color: fuchsia;
    background-color: royalblue;
    font-size: 40px;
}
.th{
    color: hotpink;
    font-size: 30px;
}
.is{
    border: 2px solid ghostwhite;
    background-color: papayawhip;
}
.e1{
    color: gold;
    background-color: blueviolet;
}
#dv button{
    font-size: 60px;
    background-color: seashell;
    color: darkmagenta;
}
.e1{
    font-size: 20px;
    color: teal;
}
.e2{
    font-size: 20px;
    color: teal;
}
.e3{
    font-size: 20px;
    color: teal;
}
.e4{
    font-size: 20px;
    color: teal;
}
.e5{
    font-size: 20px;
    color: teal;
}
.f1{
    font-size: 43px;
    background-color: darkgoldenrod;
}
.i{
    color: aqua;
}
.s{
    color: darkseagreen;
}